@font-face {
    font-family: "LaundryBold";
    src: url("./font/LaudryGothicBold.woff");
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #282c34;
    font-family: "LaundryBold", sans-serif;
}

.scan {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scan .face {
    position: relative;
    width: 500px;
    height: 500px;
    background: url('/public/face01.png');
    background-size: 500px;
}

.scan .face::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/public/face02.png');
    background-size: 500px;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
}

.scan .face::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #ff4081;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px #ff4081) drop-shadow(0 0 60px #ff4081);
    animation: animate_line 4s ease-in-out infinite;
}

@keyframes animate_line {
    0% {
        top: 0%;
    }
    50% {
        top: 100%;
    }
}

.scan h3 {
    font-family: "LaundryBold";
    text-transform: uppercase;
    color: #ff4081;
    font-size: 2em;
    margin-top: 20px;
    letter-spacing: 2px;
    /* filter: drop-shadow(0 0 20px #ff4081) drop-shadow(0 0 60px #ff4081); */
    /* animation: animate_text 1s steps(1) infinite; */
}

@keyframes animate_text {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
