@font-face {
  font-family: "LaundryBold";
  src: url("./font/LaudryGothicBold.woff");
}

@font-face {
  font-family: "Laundry";
  src: url("./font/LaudryGothicRegular.woff");
}
@font-face {
  font-family: "Apple";
  src: url("./font/AppleSDGothicNeoUL.ttf");
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#face-mesh {
  margin-top: 0px;  /* 상단 여백 추가 */
  margin-bottom: 50px;
  text-align: center; /* 텍스트 중앙 정렬 */
  color: #e91e63;
  font-size: 40px;
}

.inner-container {
  margin-top: 0px;
  margin-right: 30px;
}

.grid-container-cluster {
  justify-content: center;
  align-items: center;
  width: 25%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.grid-item {
  width: 10px; /* 이미지의 너비를 조절합니다 */
  height: 10px; /* 이미지의 높이를 조절합니다 */
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.outer-container #etc-button {
  position: absolute;
  /* margin-bottom: 50px; */
  margin-top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff4081;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Laundry";
}
