/* ColorMeasurement.css */
@font-face {
  font-family: "AbhayaLibre";
  src: url("./font/AbhayaLibre-ExtraBold.ttf");
}
@font-face {
  font-family: "Apple";
  src: url("./font/AppleSDGothicNeoUL.ttf");
}

.color-measurement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 40px;
  transition: background-color 0.3s ease;
}

.clicked {
  background-color: #f0f0f0;
}

.measurement-screen {
  background-color: #fff;
  margin: 20px 20px;
  padding: 50px 100px 50px 100px;
  border: 4px solid #e91e63;
  border-radius: 12px; /* 모서리의 굴곡을 조절합니다. */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: "Apple";
}

.measurement-screen h2 {
  color: #e91e63;
  font-size: 40px; /* 제목의 폰트 크기를 키웁니다. */
  margin-bottom: 50px; /* 하단 여백을 늘려 제목과 내용 사이의 간격을 키웁니다. */
}

.measurement-screen button {
  background-color: #e91e63;
  bottom: 100px;
  color: #fff;
  border: none;
  padding: 15px 30px; /* 버튼의 패딩을 늘려 크기를 키웁니다. */
  border-radius: 6px;
  font-size: 20px; /* 버튼의 폰트 크기를 키웁니다. */
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Apple";
}

.measurement-screen button:hover {
  background-color: #d81b60;
}

.color-measurement p {
  font-size: 20px;
  color: #555;
  margin-top: 20px;
  text-align: center;
}
