@font-face {
  font-family: "AbhayaLibre";
  src: url("./font/AbhayaLibre-ExtraBold.ttf");
}
@font-face {
  font-family: "Apple";
  src: url("./font/AppleSDGothicNeoUL.ttf");
}

@font-face {
  font-family: "LaundryBold";
  src: url("./font/LaudryGothicBold.woff");
}
@font-face {
  font-family: "Laundry";
  src: url("./font/LaudryGothicRegular.woff");
}

#draping-best-color {
  color: #e91e63;
  text-align: center;
  margin: 0 0 10px 0;
}
#draping-second-color {
  color: #e91e63;
  text-align: center;
  margin: 0px 0 10px 0;
}

.draping-outer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
}

.draping-inner-container {
}

.draping-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.draping-grid-item-container {
  font-family: "LaundryBold", sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.draping-grid-item {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  
}

.draping-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#draping-back-button {
  font-family: "Laundry";
  background-color: #ff4081;
  font-size: 20px;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  margin-bottom: 80px;
}
#draping-etc-button {
  font-family: "Laundry";
  background-color: #ff4081;
  font-size: 20px;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
}
