@font-face {
  font-family: "AbhayaLibre";
  src: url("./font/AbhayaLibre-ExtraBold.ttf");
}

@font-face {
  font-family: "Apple";
  src: url("./font/AppleSDGothicNeoUL.ttf");
}

@font-face {
  font-family: "LaundryBold";
  src: url("./font/LaudryGothicBold.woff");
}

@font-face {
  font-family: "Laundry";
  src: url("./font/LaudryGothicRegular.woff");
}

#result3-check-result {
  color: #e91e63;
  text-align: center;
  font-size: 45px;
  font-family: "LaundryBold";
  margin-top: 0;
  margin-bottom: 60px; /* 간격을 조정하여 하단 마진을 50px로 설정 */
}

.result3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result3-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.result3-section {
  text-align: center;
  margin-bottom: 0;
}

.result3-section p {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "Laundry";
}

.result3-button-container {
  margin-top: 50px;
  margin-bottom: 100px;
}

.result3-flex-container > div {
  margin-right: 20px; /* 오른쪽에 20px 마진 추가 */
}

.result3-flex-container > div:last-child {
  margin-right: 0; /* 마지막 요소는 마진을 0으로 설정 */
}
