/* 폰트 설정 */
@font-face {
  font-family: "LaundryBold";
  src: url("./font/LaudryGothicBold.woff");
}
@font-face {
  font-family: "Laundry";
  src: url("./font/LaudryGothicRegular.woff");
}
@font-face {
  font-family: "Apple";
  src: url("./font/AppleSDGothicNeoUL.ttf");
}

/* 전반적인 페이지 및 컨테이너 스타일 */
.result2-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.header-section {
  margin-bottom: 30px;
  background-color: #ffccdd; /* 배경색 설정 */
  border-radius: 40px; /* 모서리 둥글게 */
  padding: 0 20px; /* 패딩 설정 */
}

.result2-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.image-and-qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.result2-image-section, .best-color-section, .second-color-section {
  background-color: #FEF3F1;
  text-align: center;
  font-size: 24px;
  color: #282C34;
  margin-right: 0px;
  margin-bottom: 60px;
  padding: 60px;
  border-radius: 8px;
  width: 400px;
  height: 500px; /* 동일한 높이 설정 */
}

.result2-image-section p {
  position: relative; /* 상대 위치 설정 */
  top: 0px; /* 적절한 위치 조정 */
  font-size: 40px;
  margin-top: -30px;
}

.skin-image {
  width: 50%;
  max-width: 100px;
  height: auto;
}

.personal-color-graph {
  width: 100%;
  height: 100%; /* 그래프 높이를 크게 설정 */
  max-width: 300px; /* 최대 너비 조정 */
  margin-left: -90px;
}

.color-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.color-info_1, .color-info_2 {
  width: 30%; /* 두 섹션을 나란히 배치하기 위해 각 섹션의 너비를 50% 미만으로 설정 */
}


.best-color-section p, .second-color-section p {
  font-size: 12px; /* 글씨 크기를 15px로 설정 */
  color: #575454; /* 글씨 색상 설정, 필요에 따라 조정 */
  margin-bottom: 12px; /* 제목 아래 여백 제거 */
  margin-top: 5px; /* 위쪽 여백 제거 */
  text-align: right; /* 텍스트 오른쪽 정렬 */
}

.best-color-title {
  background-color: #f791b3; /* 원하는 배경색 */
  padding: 8px 20px; /* 적절한 패딩 */
  border-radius: 40px; /* 모서리 둥글게 */
  display: inline-block; /* 더 나은 배경 크기 조절을 위해 */
  margin: 5px 0; /* 위 아래 여백 */
}

.second-color-title {
  background-color: #BCE6EB; /* 원하는 배경색 */
  padding: 8px 20px; /* 적절한 패딩 */
  border-radius: 40px; /* 모서리 둥글게 */
  display: inline-block; /* 더 나은 배경 크기 조절을 위해 */
  margin: 5px 0; /* 위 아래 여백 */
}

.result2-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#result2-back-button {
  font-family: "Laundry";
  background-color: #ff4081;
  font-size: 20px;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  margin-bottom: 80px;
}

#result2-etc-button {
  font-family: "Laundry";
  background-color: #ff4081;
  font-size: 20px;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
}
